.circle_image {
    border-radius: 50%;
    border: 2px solid #eee;
}

.company_logo {
    height: 30px;
    ;
}

.company_logo_50 {
    height: 50px;
    ;
}

.margin_top_pc_50 {
    margin-top: 50px;
}

.pc_view{
    display: block;
}

.mobile_view{
    display: none;
}

.display_inline{
    display: inline;
}

.display_webkit_box{
    display: -webkit-box;
}

.home-photo {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: calc(100% - 36px);
    background-color: #fff;
    border-radius: 1000px;
    border: 18px solid #fff;
    overflow: hidden;
    -webkit-box-shadow: 0 0 25px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 10%);
}

.home-photo .hp-inner {
    background-image: url('../images/avatar.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: block;
    position: absolute;
    top: -18px;
    bottom: -18px;
    width: auto;
    left: -18px;
    right: -18px;
}

@media only screen and (max-width: 768px) {
    .pc_view{
        display: none;
    }

    .mobile_view{
        display: block;
    }

    .display_webkit_box{
        display: none;
    }
}

.section-title-block.second-style{
    margin-bottom: 20px !important;
}